@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Karantina:wght@700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Karantina:wght@700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

.left-container {
  margin-top: 2rem;
}

.btn-new {
  width: 44px;
  height: 20px;
  background-image: url(../Assets/btn-new.jpeg);
  background-size: cover;
  text-align: center;
}

.btn-new p {
  font-family: "inter";
  font-weight: 900;
  font-size: 10px;
  color: white;
  padding: 4px 12px;
}

.dobule-decker {
  font-family: "inter";
  font-size: 80px;
  font-weight: 900;
  line-height: 96px;
  margin-top: 10px;
}

.pepper-container {
  display: flex;
  justify-items: center;
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #d41717;
}

.pepper-container img {
  width: 25px;
  height: 25px;
}

.pepper-container p {
  font-size: 16px;
  font-weight: 600;
  margin-left: 6px;
}
.pepper {
  display: flex;
  justify-content: start;
  justify-items: center;
}

.price_order_btn-conatiner {
  display: flex;
  justify-items: center;
}

.description {
  font-size: 16px;
  font-weight: 500px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 40px;
}

.ingradient-order-price-container {
  margin-top: 36px;
}

.ingradient p {
  font-size: 10px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.ingradient .icon {
  display: flex;
  justify-items: center;
}

.ingradient .icon img {
  width: 25px;
  height: 25px;
  margin-right: 18px;
}

.order-btn-cont {
  clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
  width: 191px;
  height: 49px;
  text-align: center;
  margin-top: 27px;
  border-radius: 10px;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}

.order-btn-cont button {
  padding: 15px 23px;
}

.price-container {
  position: relative;
  margin-left: 2.5rem;
}

.price {
  font-family: "Karantina";
  font-size: 50px;
  color: #00bf13;
  line-height: 50px;
}

.sub-price {
  font-size: 13px;
  position: absolute;
  top: -8px;
  left: 100px;
  color: #00bf13;
  font-family: "Karantina";
}

.qunatity {
  position: absolute;
  bottom: 50px;
  left: 40px;
  background-color: #00bf13;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  padding: 2px;
  color: white;
  text-align: center;
  margin-bottom: 29px;
}

.burger-navigation {
  margin-top: 2rem;
  display: flex;
}

.burger-navigation img {
  width: 99px;
  height: 92px;
}