.slider-container {
    margin-top: 80px;
  }
  
  .nav-btn {
    color: black;
    border: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    font-weight: 700;
    font-size: larger;
  }
  
  .left-btn {
    background-color: #ffff00;
    margin-right: 50px;
  }
  
  .right-btn {
    background-color: white;
  }