.slider  {
    width: 100%;
    height: 100%;
  }

  .slide img  {
    width: 80%;
    height: 80%;
  }
  
  .slide {
    opacity: 0.5;
    transform: scale(0.5)
  }
  
  .slide-active {
    opacity: 1;
    transform: scale(1.0);
    transition: all 1s;
  }
  
  .prev-slide {
    opacity: 1;
    transform: scale(0);
    transition: all 1s;
  }

 